{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/materials.css' %}>
    <button><a href={% url 'materials:add' %}>Додати</a></button>
    <table id="info-table" class="table table_sort">
        <thead>
        <tr>
            <th>id</th>
            <th>Назва матеріалу</th>
            <th>Загальна кількість</th>
            <th>Залишок</th>
            <th>Відкрито</th>
            <th>Дата постачання</th>
            <th>Назви препаратів</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.id }}</td>
                <td>{{ material.name }}</td>
                <td>{{ material.total }}</td>
                <td>{{ material.remainder }}</td>
                <td>{{ material.open }}</td>
                <td>{{ material.date_of_delivery }}</td>
                <td>
                    <div id="openModal{{ material.id }}" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <a href="#close" title="Close" class="close">×</a>
                                <table class="table table_sort">
                                    <thead>
                                    <tr>
                                        <th>Назва препарату</th>
                                        <th>Тип препарату</th>
                                        <th>Кількість постачання</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>{{ material.drugs.drug.name }}</td>
                                        <td>{{ material.drugs.drug.type }}</td>
                                        <td>{{ material.drugs.quantity }}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a href="#openModal{{ material.id }}">Препараты</a></td>
                <td> <button><a href={% url 'materials:update' material.id %}>Відновити</a></button> </td>
                <td> <button><a href={% url 'materials:delete' material.id %}>Удалити</a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}